@model EmployeeViewModel

@{
    ViewData["Title"] = "Delete";
    var departments = new SelectList(ViewBag.Departments, "Id", "Name");
}

<h1 class="text-center">Are You Sure To Delete Employee @Model.Name </h1>
<br />
<form asp-action="Delete">
    <div class="row">
        <div class="col-12">

            <partial name="PartialViews/DeleteDetailsPartialView" />

            <br />
            <input type="submit" value="Delete" class="btn btn-danger m-2" />
            <a class="btn btn-secondary m-2" asp-action="index" asp-route-id="@Model.Id">Cancel</a>

        </div>
    </div>
</form>
